

td input[type=text]{
	width:80px;
	height:30px;
	text-align: center;
	background-color: #f2f2f2;
	border: solid #dbdbdb 1px;
	margin:0;

}

td input[type=text]:focus{
	background-color: #e0e0e0;
	box-shadow: none;
}

.thead input[type=text]{
	background-color: #edf1f7;
	font-weight: bold;
	border-bottom: solid black 2px;
	margin: 0;

}

.thead input[type=text]:focus{
	border-bottom: solid black 2px;
}

#rowsInput, #colsInput{
	width:50px;
	text-align: center;
	margin-left: 5px;
	margin-right: 5px;
	padding: 5px;
}

table{
	border-spacing: 0;
	border-collapse: collapse;
}

.on-top{
	z-index: 10;
	position: absolute;
	background-color: white;
	padding:3px;
}

.delete-menu{
	visibility: hidden;
	border: 2px solid blue;
	position: absolute;
	z-index: 10;
	background-color: white;
}

.list-menu{
	transition: all 1s;
	margin: 0;
	padding: 2px;
}

.list-menu:hover{
	background-color: #e8e8e8;
}

